# Required
SECRET_KEY=

# AvaTax credentials
AVATAX_ACCOUNT=
AVATAX_PASSWORD=
AVATAX_COMPANY_CODE=DEFAULT
AVATAX_URL=https://sandbox-rest.avatax.com

# Optional - for DynamoDB persistence
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=us-east-1
DYNAMODB_MAIN_TABLE_NAME=avatax-main-table
